<header class="py-5 text-center bg-light">
    <h1><%= title %> page</h1>
    <a href="/" class="btn btn-info">Home page</a>
    <a href="/about" class="btn btn-info">About page</a>
    <a href="/contact" class="btn btn-info">Contact page</a>
</header>